# Keep sensitive information private (e.g. GitHub Personal Access Token)
.npmrc

# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Typescript dev/build outputs
*.tsbuildinfo

# Tool caches
.eslintcache

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
!.env.preview
!.env.preview.*

# Sentry Config File
.env.sentry-build-plugin

# Playwright files
.authentication/session.json
playwright-report
test-results

# Deployment files (temporary, created during deployment process)
deploy-info.json
