# Keep sensitive information private (e.g. GitHub Personal Access Token)
.npmrc

# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Typescript dev/build outputs
tsconfig.tsbuildinfo

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
!.env.preview
!.env.preview.*

# AI rulesets
.windsurf

# Sentry Config File
.env.sentry-build-plugin

# Playwright
.authentication/session.json
playwright-report
test-results
