@import "tailwindcss";
@import "tailwindcss-primeui";
@import "primeicons/primeicons.css";

html {
	font-family: "Instrument Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings: "wdth" 100;
}

/* Default theme overrides */
/* Default theme variables: https://tailwindcss.com/docs/theme#default-theme-variables */
@theme {
	--breakpoint-sm: 37rem;

	--text-xl: 1.375rem;
	--text-xl--line-height: calc(1.75 / 1.375);
}
