@import "tailwindcss";
@import "tailwindcss-primeui";
@import "primeicons/primeicons.css";

/*
* CSS Snippets from Jeremy Keith, Chris Coyier and Andy Bell:
* https://adactio.com/journal/21896
* https://piccalil.li/links/the-coyier-css-starter/
* https://andy bell.co.uk/notes/css-starter/
*/

/* See `app/theme/primevue-theme-application.ts` for PrimeVue layers */
@layer core {
	html {
		font-family: "Instrument Sans", sans-serif;
		font-optical-sizing: auto;
		font-weight: 400;
		font-style: normal;
		font-variation-settings: "wdth" 100;
		hanging-punctuation: first allow-end last;
		word-break: break-word;

		/* See: https://www.zachleat.com/web/stable-scrollbar-gutters */
		overflow-y: scroll;
		@supports (scrollbar-gutter: stable) {
			overflow-y: auto;
			scrollbar-gutter: stable;
		}

		&:focus-within {
			scroll-behavior: smooth;
		}
	}

	figcaption {
		max-inline-size: max-content;
		margin-inline: auto;
	}

	a:focus-visible {
		outline-offset: 0.25em;
		outline-width: 0.25em;
		outline-color: currentColor;
	}

	ul,
	ol,
	dl,
	dt,
	dd,
	p,
	figure,
	blockquote {
		hanging-punctuation: first last;
		text-wrap: pretty;
	}
	pre {
		white-space: pre-wrap;
	}
}

/* Default theme overrides */
/* Default theme variables: https://tailwindcss.com/docs/theme#default-theme-variables */
@theme {
	--breakpoint-sm: 37rem;

	--text-xl: 1.375rem;
	--text-xl--line-height: calc(1.75 / 1.375);

	/* Animation easing functions */
	--ease-smooth: cubic-bezier(0.4, 0, 0.2, 1);

	/* Animation durations */
	--duration-fast: 0.3s;
}
